body {
  font-size: 16px;
  line-height: 1.7em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #424242;
  /* border: 5px solid springgreen; */
  display: grid;
  grid-template-columns: 1fr;
}

.main_div {
  border: 1px solid rgb(255, 0, 0);
  box-sizing: border-box;
  overflow: hidden;
}

.header_bar {
  border: 1px solid black;
  /* height: 30%; */
  display: flex;
  position: relative;
}

.top-nav_logo {
  margin: 15px;
  height: 48px;
  border: 1px solid black;
}

hr {
  width: 3px;
}

.top-nav_icon {
  height: 50px;
  border: 1px solid tomato;
  width: 50px;
  position: absolute;
  right: 20px;
  top: 10px;
}

.navLine {
  width: 25px;
  height: 4px;
  background-color: black;
  margin: 4px;
  position: relative;
  top: 10px;
  left: 7px;
}

.first_portion {
  margin-top: 16px;
  padding: 8px 32px;
  padding-bottom: 56px;
}

.rethink_div {
  border: 1px solid red;
}

.rethink_div h1.rethink-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #424242;
  margin-left: 16px;
  font-size: 32px;
  letter-spacing: 0.4px;
  margin: 4px 0px 24px 16px;
  border: 1px solid black;
}

.accelerate_img {
  height: 322px;
  border: 1px solid #003682;
  width: 568px;
}

.rethink_sum_text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #424242;
}

.learn_more_link {
  text-decoration: none;
  color: white;
  background-color: #003682;
  padding: 10px 45px;
  border-radius: 3px;
}

.sign_up_main_div {
  border: 1px solid green;
  height: 212px;
  padding: 30px 0px;
  position: relative;
  background-color: #003682;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 74px;
}

.sign_up_text {
  border: 1px solid tomato;
  width: 75%;
  position: relative;
  left: 75px;
}
.sign_up_button {
  border: 1px solid tomato;
  width: 75%;
  position: relative;
  left: 75px;
}
.sign_up_contact_sales {
  border: 1px solid tomato;
  width: 75%;
  position: relative;
  left: 75px;
}

.sign_up_text_msg {
  color: white;
  font-size: 24px;
  margin: 0px;
}

/* sign up */
.sign_up_button {
  position: relative;
}

.sign_up_container {
  background-color: #f38020;
  border-radius: 10px;
  width: 100%;
  height: 60px;
}

.sign_up_button_link {
  text-decoration: none;
  color: white;
  background-color: #f38020;
  border-radius: 3px;
  position: relative;
  top: 10px;
  left: 180px;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
}

.sign_up_contact_sales {
  position: relative;
}

.contact_sales_container {
  background-color: #f38020;
  border-radius: 10px;
  width: 100%;
  height: 60px;
}

.contact_sales_button_link {
  text-decoration: none;
  color: white;
  background-color: #f38020;
  border-radius: 3px;
  position: relative;
  top: 10px;
  left: 180px;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
}

.whatsnew_top_div {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 50px;
}

.whatsnew_top {
  border: 1px solid salmon;
  border-bottom: 2px solid #424242;
}

.whatsnew_top_text {
  color: #f38020;
  margin-left: 8px;
}

/* WHAT'S NEW SESSION */
.whatsnew_main_div {
  border: 1px solid seagreen;
  height: 240px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid red;
}

.whatsnew_sections_main_div {
  border: 1px solid blueviolet;
}

.new_heading_header {
  border: 1px solid rgb(130, 0, 0);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.header_text {
  font-size: 26px;
}

.whatsnew_foundation_msg {
  border: 1px solid rgb(130, 0, 0);
}

.foundation_msg {
  margin-bottom: 2rem;
  margin-top: 8px;
}

.foundation_review {
  border: 1px solid rgb(34, 141, 114);
}

.foundation_review_msg {
  text-decoration: none;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
  color: #0055dc;
  margin-bottom: 1rem;
}

/* DDOS SESSION */
.ddos_main_div {
  border: 1px solid seagreen;
  height: 240px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid red;
}

.ddos_sections_main_div {
  border: 1px solid blueviolet;
}

.ddos_heading_header {
  border: 1px solid rgb(130, 0, 0);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 26px;
}

.ddos_header_text {
  border: 1px solid blueviolet;
}

.ddos_msg_div {
  border: 1px solid blueviolet;
}
.ddos_msg {
  margin-bottom: 2rem;
  margin-top: 8px;
}

.ddos_review {
  border: 1px solid rgb(34, 141, 114);
}

.ddos_review_msg {
  text-decoration: none;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
  color: #0055dc;
  margin-bottom: 1rem;
}

/* CONTROL SESSION */
.control_main_div {
  border: 1px solid seagreen;
  height: 280px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid red;
}

.control_sections_main_div {
  border: 1px solid blueviolet;
}

.control_heading_header {
  border: 1px solid rgb(130, 0, 0);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 26px;
}

.control_header_text {
  font-weight: 100px;
}

.control_msg_div {
  border: 1px solid rgb(34, 141, 114);
}
.control_msg {
  margin-bottom: 2rem;
  margin-top: 8px;
}

.control_review {
  border: 1px solid rgb(34, 141, 114);
}

.control_review_msg {
  text-decoration: none;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
  color: #0055dc;
  margin-bottom: 1rem;
}

/* BUILT SESSION */

.built_container {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  background-color: #f8fbfb;
}
.infrastructure_div {
}
.box1 {
  border: 1px solid red;
  position: relative;
}

.built_header_heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #424242;
  font-size: 32px;
  letter-spacing: 0.4px;
}

.box2 {
  border: 1px solid red;
  position: relative;
}
.built_header_subheading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #424242;
  font-size: 20px;
  letter-spacing: 0.4px;
}

.box3 {
  border: 1px solid red;
  position: relative;
}
.built_header_subheading_msg {
  position: relative;
}

.box4 {
  border: 1px solid red;
  position: relative;
}
.infra_img_div {
  position: relative;
  width: 75%;
}
.infra_img {
  position: relative;
  top: 5px;
  left: 80px;
}
.box5 {
  border: 1px solid red;
  position: relative;
  font-size: 12px;
}
.for_infra_heading {
  font-size: 15px;
}
.box6 {
  border: 1px solid red;
  position: relative;
}
.for_infra_subheading {
  font-size: 28px;
}
.box7 {
  border: 1px solid red;
  position: relative;
}
.infra_para1 {
}
.infra_para2 {
}

.box8 {
  border: 1px solid red;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 64px 16px;
}
.box8_inner_1 {
  border: 1px solid red;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  left: 12px;
  width: 94%;
}

.inner_1_security_img_div {
}
.security_img {
  height: 65px;
}
.inner_1_security_heading_div {
}
.security_heading {
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 5px;
}
.inner_1_security_msg_div {
}
.security_msg {
}
.inner_1_security_learnmore_div {
}
.security_learnmore {
  text-decoration: none;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
  color: #0055dc;
  margin-bottom: 1rem;
}

/* j */
.box8_inner_2 {
  border: 1px solid red;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  left: 12px;
  width: 94%;
}

.inner_2_performance_img_div {
}
.performance_img {
  height: 65px;
}
.inner_2_performance_heading_div {
}
.performance_heading {
  font-size: 24px;
  margin-top: 3px;
  margin-bottom: 5px;
}
.inner_2_performance_msg_div {
}
.performance_msg {
}
.inner_2_performance_learnmore_div {
  position: relative;
  top: 5px;
}
.performance_learnmore {
  text-decoration: none;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
  color: #0055dc;
  margin-bottom: 1rem;
}

/* k */
.box8_inner_3 {
  border: 1px solid red;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  left: 12px;
  width: 94%;
}

.inner_3_reliability_img_div {
}
.reliability_img {
  height: 65px;
}
.inner_3_reliability_heading_div {
  position: relative;
}
.reliability_heading {
  font-size: 24px;
  margin-top: 3px;
  margin-bottom: 5px;
  margin: 0px;
  position: relative;
  bottom: 8px;
}
.inner_3_reliability_msg_div {
  position: relative;
}
.reliability_msg {
  margin-top: 2px;
  position: relative;
  bottom: 5px;
}
.inner_3_reliability_learnmore_div {
  position: relative;
  top: 8px;
}
.reliability_learnmore {
  text-decoration: none;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
  color: #0055dc;
  margin-bottom: 1rem;
  position: relative;
  top: 8px;
}

.box9 {
  border: 1px solid red;
  position: relative;
  padding: 40px 16px;
}
.box9_img_container {
  border: 1px solid blue;
  position: relative;
  padding: 0px 64px;
}
.box9_img {
  width: 364px;
  height: 274px;
  position: relative;
  top: 8px;
  left: 65px;
}
.box10 {
  border: 1px solid red;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}
.box10_heading_div {
}
.box10_heading_msg {
  margin: 21px 0px 8px;
}
.box10_suheading_div {
}
.box10_subheading_msg {
  margin: 2px 0px 14px 0px;
  font-size: 30px;
}

.box10_text {
}
.box10_text_msg_div {
}
.box10_text_msg {
}

.box10_learnmore_div {
}
.box10_learnmore {
  text-decoration: none;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
  color: #0055dc;
  margin-bottom: 1rem;
  position: relative;
}

/* access */
.box11 {
  border: 1px solid red;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 64px 16px;
}
.box11_inner_1 {
  border: 1px solid red;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  width: 94%;
  width: 378px;
  padding-right: 32px;
  height: 320px;
}

.inner_1_access_img_div {
}
.access_img {
  height: 65px;
}
.inner_1_access_heading_div {
}
.access_heading {
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 5px;
}
.inner_1_access_msg_div {
}
.security_msg {
}
.inner_1_access_learnmore_div {
}
.access_learnmore {
  text-decoration: none;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
  color: #0055dc;
  margin-bottom: 1rem;
}

/* gate */

.box11_inner_2 {
  border: 1px solid red;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  width: 94%;
  width: 378px;
  padding-right: 32px;
  height: 320px;
}

.inner_1_gateway_img_div {
}
.gateway_img {
  height: 65px;
}
.inner_1_gateway_heading_div {
}
.gateway_heading {
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 5px;
}
.inner_1_gateway_msg_div {
}
.gateway_msg {
}
.inner_1_gateway_learnmore_div {
}
.gateway_learnmore {
  text-decoration: none;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
  color: #0055dc;
  margin-bottom: 1rem;
}

.box12 {
  border: 1px solid red;
  position: relative;
  padding: 64px 16px 80px;
}
.workers_img_div {
  border: 1px solid red;
  position: relative;
}
.workers_img {
  border: 1px solid red;
  position: relative;
}

.box13 {
  border: 1px solid red;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid red;
}
.box13_heading_div {
  border: 1px solid red;
}
.box13_heading_msg {
  border: 1px solid red;
  margin: 21px 0px 8px;
}
.box13_suheading_div {
}
.box13_subheading_msg {
  border: 1px solid red;
  margin: 2px 0px 14px 0px;
  font-size: 30px;
}

.box13_text {
}
.box13_text_msg_div {
}
.box13_text_msg {
}

.box13_learnmore_div {
}
.box13_learnmore {
  text-decoration: none;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
  color: #0055dc;
  margin-bottom: 1rem;
  position: relative;
  border: 1px solid red;
}

/* automatic c++ */

.box14 {
  border: 1px solid red;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 64px 16px;
}
.box14_inner_1 {
  border: 1px solid red;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  left: 12px;
  width: 94%;
}

.inner_1_servers_img_div {
}
.servers_img {
  height: 65px;
}
.inner_1_servers_heading_div {
}
.servers_heading {
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 5px;
}
.inner_1_servers_msg_div {
}
.servers_msg {
}
.inner_1_servers_learnmore_div {
}
.servers_learnmore {
  text-decoration: none;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
  color: #0055dc;
  margin-bottom: 1rem;
}

/* j */
.box14_inner_2 {
  border: 1px solid red;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  left: 12px;
  width: 94%;
}

.inner_2_javascript_img_div {
}
.javascript_img {
  height: 65px;
}
.inner_2_javascript_heading_div {
}
.javascript_heading {
  font-size: 24px;
  margin-top: 3px;
  margin-bottom: 5px;
}
.inner_2_javascript_msg_div {
}
.javascript_msg {
}
.inner_2_javascript_learnmore_div {
  position: relative;
  top: 5px;
}
.javascript_learnmore {
  text-decoration: none;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
  color: #0055dc;
  margin-bottom: 1rem;
}

/* k */
.box14_inner_3 {
  border: 1px solid red;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  left: 12px;
  width: 94%;
}

.inner_3_automatic_img_div {
}
.automatic_img {
  height: 65px;
}
.inner_3_automatic_heading_div {
  position: relative;
}
.automatic_heading {
  font-size: 24px;
  margin-top: 3px;
  margin-bottom: 5px;
  margin-bottom: 26px;
  position: relative;
  bottom: 0px;
}
.inner_3_automatic_msg_div {
  position: relative;
}
.automatic_msg {
  margin-top: 2px;
  position: relative;
  bottom: 0px;
}
.inner_3_automatic_learnmore_div {
  position: relative;
  top: 0px;
}
.automatic_learnmore {
  text-decoration: none;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
  color: #0055dc;
  margin-bottom: 1rem;
  position: relative;
  top: 0px;
}

.box15 {
  border: 1px solid pink;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #003682;
  position: relative;
  height: 212px;
}

.sign_heading15_div {
  position: relative;
  left: 60px;
}

.heading15_msg {
  color: white;
  position: relative;
  left: 60px;
}

.sign15_container {
  background-color: #f38020;
  width: 80%;
  border-radius: 5px;
  position: relative;
  left: 30px;
  padding: 10px 20px;
}

.sign_upLink {
  text-decoration: none;
  padding: 0px 20px;
  position: relative;
  background-color: #f38020;
  color: white;
  left: 200px;
}

.contact_sales15_container {
  background-color: #f38020;
  width: 80%;
  border-radius: 5px;
  position: relative;
  left: 30px;
  padding: 10px 40px;
}

.contact_sales15_upLink {
  text-decoration: none;
  padding: 0px 20px;
  position: relative;
  background-color: #f38020;
  color: white;
  position: relative;
  left: 200px;
  list-style-type: none;
}

.box16 {
  display: flex;
  background-color: #333;
  color: white;
  font-size: 12px;
  padding: 10px;
}

.footer_container {
  display: flex;
  background-color: #333;
  color: white;
  font-size: 12px;
  padding: 20px;
}

.box16_columns1 {
  list-style-type: none;
  padding-left: 0px;
}
.box16_columns2 {
  list-style-type: none;
}
.box16_columns3 {
  list-style-type: none;
}
.box16_columns4 {
  list-style-type: none;
}
.box16_columns5 {
  list-style-type: none;
}
.box16_columns6 {
  list-style-type: none;
}

.copyright_div {
  background-color: #333;
  color: white;
}
.copy_content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: 1px solid yellow;
  font-size: 10px;
  position: relative;
}

/* hiding navbar */
@media screen and (min-width: 1168px) {
  .main_div {
    background-color: rgb(142, 158, 158);
  }
  .top-nav_icon {
    display: none;
  }
}

/* adjust subnav to the corner right */
@media screen and (min-width: 1320px) {
  .nav_special_bar1 .nav8 {
    position: relative;
    left: 280px;
  }
}

/* hiding the right corner icon of IPAD*/
@media screen and (min-width: 1168px) {
  .main_div {
    background-color: rgb(142, 158, 158);
  }
  .top-nav_icon {
    display: none;
  }
}

/* hiding navigation items of LAPTOP*/
@media screen and (max-width: 1167px) {
  .nav_special_bar1 .nav1,
  .nav2,
  .nav3,
  .nav4,
  .nav5,
  .nav6,
  .nav7,
  .nav8 .subnav1,
  .subnav2,
  .subnav3 {
    display: none;
  }
}

/* hidden rethinking IPAD features */
@media screen and (min-width: 1168px) {
  .main_div .rethink_div,
  .accelerate_div,
  .rethink_summary,
  .learn_more_div {
    display: none;
  }
}
/* hidden rethinking LAPTOP FEATURES */
@media screen and (max-width: 1167px) {
  .rethinking_session .rethink_div_2,
  .rethink_summary_2,
  .learn_more_text_2,
  .accelerate_div_2 {
    display: none;
  }
}

/* hiding signing up FEATURES of ipad */
@media screen and (min-width: 1168px) {
  .main_div .sign_up_main_div,
  .sign_up_text_msg,
  .sign_up_container,
  .contact_sales_container {
    display: none;
  }
}

/* hiding signing up FEATURES of laptop */
@media screen and (max-width: 1167px) {
  .del_main_sign,
  .sign_up_main_div_2,
  .sign_up_text_2,
  .sign_up_text_msg_2,
  .sign_up_button_2,
  .sign_up_container_2,
  .sign_up_button_link_2,
  .sign_up_contact_sales_2,
  .contact_sales_container_2 {
    display: none;
  }
}

/* hiding what's new FEATURES of ipad */
@media screen and (min-width: 1168px) {
  .whatsnew_body,
  .whatsnew_main_div .whatsnew_sections_main_div,
  .whatsnew_top_text {
    display: none;
  }
  .new_heading_header .header_text,
  .foundation_msg,
  .foundation_review_msg {
    display: none;
  }
}
/* hiding what's new FEATURES of laptop */
@media screen and (max-width: 1167px) {
  .whatsnew_body_2,
  .whatsnew_main_div_2 .whatsnew_sections_main_div_2,
  .whatsnew_top_text_2 {
    display: none;
  }
  .new_heading_header_2 .header_text_2,
  .foundation_msg_2,
  .foundation_review_msg_2 {
    display: none;
  }
}

/* hiding infrastruture FEATURES of ipad */
@media screen and (min-width: 1168px) {
  .infrastructure_div {
    display: none;
  }
}

/* hiding infrastruture FEATURES of laptop */
@media screen and (max-width: 1167px) {
  .infrastructure_main_container_2,
  .infrastructure_div_2 {
    display: none;
  }
}

/* start of security, performance, ipad and laptop */
@media screen and (orientation: landscape) {
  .box8 {
    padding: 80px 140px;
  }
}

/* hiding cloudteam FEATURES of ipad */
@media screen and (min-width: 1168px) {
  .cloud_team_main_div {
    display: none;
  }
}
/* hiding cloudteam FEATURES of laptop */
@media screen and (max-width: 1167px) {
  .cloud_team_bigger_div_2 .cloud_team_main_div_2 {
    display: none;
  }
}

/* start of access and gateway ipad and laptop */
@media screen and (orientation: landscape) {
  .box11 {
    padding: 80px 90px;
  }
  .box11_inner_1 {
    padding-right: 10px;
    margin-right: 60px;
  }
  .box11_inner_2 {
    padding-right: 10px;
  }
}

/* hiding cloudworkers FEATURES of ipad */
@media screen and (min-width: 1168px) {
  .cloud_team_main_div,
  .box12,
  .box13 {
    display: none;
  }
}

/* hiding cloudworkers FEATURES of laptop */
@media screen and (max-width: 1167px) {
  .bigger_cloudworkers,
  .cloud_team_main_div_2,
  .cloud_workers_main_div_2 .box12_2,
  .cloud_workers_main_div_2 .box13_2 {
    display: none;
  }
}

/* hiding signing up FEATURES of ipad */
@media screen and (min-width: 1168px) {
  .contact_signUp,
  .box15 .sign_heading15_div,
  .sign_upLink,
  .sign15_container,
  .contact_sales15_container {
    display: none;
  }
}

/* hiding signing up FEATURES of laptop */
@media screen and (max-width: 1167px) {
  .del_main_sign_3,
  .sign_up_main_div_3,
  .sign_up_text_3,
  .sign_up_text_msg_3,
  .sign_up_button_3,
  .sign_up_container_3,
  .sign_up_button_link_3,
  .sign_up_contact_sales_3,
  .contact_sales_container_3 {
    display: none;
  }
}

/* @media screen and (orientation: landscape) {
} */
/* 
*************
*********
******
 */
/* laptop header_features */
.nav_special_bar1 {
  border: 1px solid pink;
  position: relative;
  display: flex;
  grid-template-columns: 1fr;
  position: relative;
  left: 20px;
  font-size: 12px;
}
.nav1 {
  border: 1px solid peru;
  position: relative;
  margin-right: 25px;
  border-bottom: 3px solid transparent;
}
.nav1 div p {
  position: relative;
  top: 20px;
}
.nav2 {
  border: 1px solid peru;
  position: relative;
  margin-right: 25px;
}
.nav2 div p {
  position: relative;
  top: 20px;
}
.nav3 {
  border: 1px solid peru;
  position: relative;
  margin-right: 25px;
}
.nav3 div p {
  position: relative;
  top: 20px;
}
.nav4 {
  border: 1px solid peru;
  position: relative;
  margin-right: 25px;
}
.nav4 div p {
  position: relative;
  top: 20px;
}
.nav5 {
  border: 1px solid peru;
  position: relative;
  margin-right: 25px;
}
.nav5 div p {
  position: relative;
  top: 20px;
}
.nav6 {
  border: 1px solid peru;
  position: relative;
  margin-right: 25px;
}
.nav6 div p {
  position: relative;
  top: 20px;
}
.nav7 {
  border: 1px solid peru;
  position: relative;
  margin-right: 25px;
}
.nav7 div p {
  position: relative;
  top: 20px;
}
.nav8 {
  border: 1px solid peru;
  position: relative;
  margin-right: 25px;
  left: 140px;
  display: flex;
}
.nav8 div p {
  position: relative;
  top: 20px;
}
.subnav1 {
  border: 1px solid peru;
  position: relative;
  margin-right: 25px;
}
.subnav1 div p {
  position: relative;
  top: 20px;
}
.subnav2 {
  border: 1px solid peru;
  position: relative;
  margin-right: 25px;
}
.subnav2 div p {
  position: relative;
  top: 20px;
}
.subnav3 {
  border: 1px solid peru;
  position: relative;
  margin-right: 25px;
}
.subnav3 div p {
  position: relative;
  top: 20px;
}
.header_bar .nav_special_bar1 a {
  text-decoration: none;
}
.header_bar .nav_special_bar1 a:hover {
  border-bottom: 5px solid coral;
  padding-bottom: 3px;
}
/* end of header */

/* start of rethinking2 */
.rethinking_session {
  border: 1px solid green;
  display: grid;
  grid-auto-columns: 1fr 1fr;
  display: flex;
}
.left_rethink {
  border: 1px solid green;
}
.right_rethink {
  border: 1px solid green;
}
.accelerate_img_2 {
  width: 90%;
}
/* end of rethinking2 */

/* start of signing up2 */
.sign_up_main_div_2 {
  border: 1px solid green;
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  display: flex;
  background-color: #003682;
  color: white;
  height: 170px;
}
/* sign up text 2*/
.sign_up_text_2 {
  width: 40%;
  border: 1px solid red;
  position: relative;
  left: 75px;
  top: 0px;
}

.sign_up_text_msg_2 {
  border: 1px solid violet;
  color: white;
  font-size: 28px;
  margin: 0px;
  padding: 40px;
  padding-bottom: 60px;
}
/*sign_up button 2 */
.sign_up_button_2 {
  border: 1px solid tomato;
  width: 14%;
  position: relative;
  left: 75px;
}
.sign_up_container_2 {
  position: relative;
  border: 1px solid violet;
  color: #fff;
  background-color: #f38020;
  border-radius: 10px;
  width: 100%;
  height: 55px;
  position: relative;
  top: 50px;
  left: 60px;
}
.sign_up_button_link_2 {
  text-decoration: none;
  color: white;
  position: relative;
  left: 50px;
  top: 13px;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
}

/*contact sales button 2  */
.sign_up_contact_sales_2 {
  border: 1px solid tomato;
  width: 14%;
  position: relative;
  left: 105px;
}
.contact_sales_container_2 {
  position: relative;
  border: 1px solid violet;
  color: #fff;
  background-color: #f38020;
  border-radius: 10px;
  width: 100%;
  height: 55px;
  position: relative;
  top: 50px;
  left: 60px;
}
.contact_sales_button_link_2 {
  text-decoration: none;
  color: white;
  position: relative;
  left: 30px;
  top: 13px;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
}

/* laptop version of what's new  */
/* atart of laptop version of what's new  */
.whatsnew_body_2 {
}
.whatsnew_top_2 {
  border: 1px solid salmon;
  border-bottom: 2px solid #424242;
}
.whatsnew_top_div_2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 50px;
}

.whatsnew_top_text_2 {
  color: #f38020;
  margin-left: 8px;
  font-size: 16px;
  position: relative;
  left: 136px;
}

.CDNddosControl_div_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 140px;
}

/* WHAT'S NEW SESSION */
.whatsnew_main_div_2 {
  border: 1px solid seagreen;
  height: 440px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid red;
  padding-right: 35px;
}

.whatsnew_sections_main_div_2 {
  border: 1px solid blueviolet;
  border-top: 1px solid black;
}

.new_heading_header_2 {
  border: 1px solid rgb(130, 0, 0);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.header_text_2 {
  font-size: 26px;
  line-height: 1em;
}

.whatsnew_foundation_msg_2 {
  border: 1px solid rgb(130, 0, 0);
}

.foundation_msg_2 {
  margin-bottom: 2rem;
  margin-top: 8px;
  font-size: 14px;
  position: relative;
}

.foundation_review_2 {
  border: 1px solid rgb(34, 141, 114);
  position: relative;
  top: 65px;
}

.foundation_review_msg_2 {
  text-decoration: none;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
  color: #0055dc;
  margin-bottom: 1rem;
}

/* DDOS SESSION */
.ddos_main_div_2 {
  border: 1px solid seagreen;
  height: 240px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid red;
  padding-right: 35px;
}

.ddos_sections_main_div_2 {
  border: 1px solid blueviolet;
  border-top: 1px solid black;
}

.ddos_heading_header_2 {
  border: 1px solid rgb(130, 0, 0);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 26px;
}

.ddos_header_text_2 {
  border: 1px solid blueviolet;
  line-height: 1em;
}

.ddos_msg_div_2 {
  border: 1px solid blueviolet;
}
.ddos_msg_2 {
  margin-bottom: 2rem;
  margin-top: 8px;
  font-size: 14px;
}

.ddos_review_2 {
  border: 1px solid rgb(34, 141, 114);
}

.ddos_review_msg_2 {
  text-decoration: none;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
  color: #0055dc;
  margin-bottom: 1rem;
}

/* CONTROL SESSION */
.control_main_div_2 {
  border: 1px solid seagreen;
  height: 280px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid red;
  padding-right: 35px;
}

.control_sections_main_div_2 {
}

.control_sections_main_div_2 {
  border: 1px solid rgb(130, 0, 0);
  /* margin-top: 0.5rem; */
  margin-bottom: 0.5rem;
  font-size: 26px;
  border: 1px solid blueviolet;
  border-top: 1px solid black;
  padding-top: 3px;
}
.control_heading_header_2 {
}

.control_header_text_2 {
  border: 1px solid blueviolet;
  font-weight: 100px;
  line-height: 1em;
}

.control_msg_div_2 {
  border: 1px solid rgb(34, 141, 114);
}
.control_msg_2 {
  margin-bottom: 2rem;
  margin-top: 8px;
  font-size: 14px;
  position: relative;
}

.control_review_2 {
  border: 1px solid rgb(175, 204, 197);
  position: relative;
  top: 7px;
}

.control_review_msg_2 {
  text-decoration: none;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
  color: #0055dc;
  margin-bottom: 1rem;
}
/* end of laptop version of what's new  */

/* start of laptop version of infrastructure 4 div */
.infrastructure_div_2 {
  border: chartreuse;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4em 6em;
}
.boxingOne {
  padding-bottom: 9em;
}
.box1_2 {
  border: 1px solid red;
  position: relative;
}

.built_header_heading_2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #424242;
  font-size: 44px;
  letter-spacing: 0.4px;
  line-height: 1em;
}
.boxingTwo {
}
.box2_2 {
  border: 1px solid red;
  position: relative;
}
.built_header_subheading_2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #424242;
  font-size: 20px;
  letter-spacing: 0.4px;
}

.box3_2 {
  border: 1px solid red;
  position: relative;
}
.built_header_subheading_msg_2 {
  position: relative;
}
.boxingFour {
}
.box4_2 {
  border: 1px solid red;
  position: relative;
}
.infra_img_div_2 {
  position: relative;
  width: 75%;
}
.infra_img_2 {
  position: relative;
  top: 5px;
  left: 80px;
}
.boxingThree {
}
.box5_2 {
  border: 1px solid red;
  position: relative;
  font-size: 12px;
}
.for_infra_subheading_2 {
  font-size: 15px;
}
.box6_2 {
  border: 1px solid red;
  position: relative;
}
.for_infra_subheading_2 {
  font-size: 28px;
}
.box7_2 {
  border: 1px solid red;
  position: relative;
}
.infra_para1_2 {
}
.infra_para2_2 {
}
/* end of laptop version of infrastructure 4 div */

/* start of cloud teams */

.cloud_team_main_div_2 {
  border: 1px solid yellow;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  padding: 80px 120px;
}

.box9_2 {
  display: grid;
  border: 1px solid black;
  position: relative;
}

.box9_img_container_2 {
}
.box9_img_2 {
}
.box10_2 {
  border: 1px solid turquoise;
  display: grid;
  position: relative;
  padding-left: 25px;
}

.box10_heading_div_2 {
}
.box10_heading_msg_2 {
}
.box10_suheading_div_2 {
}
.box10_subheading_msg_2 {
}

.box10_text_2 {
}
.box10_text_msg_div_2 {
}
.box10_text_msg_2 {
}

.box10_learnmore_div_2 {
}
.box10_learnmore_2 {
  text-decoration: none;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
  color: #0055dc;
  margin-bottom: 1rem;
  position: relative;
}
/* end of cloud teams */

/* start of cloud workers */
.cloud_workers_main_div_2 {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4em 6em;
}

.box13_2 {
  border: 1px solid red;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid red;
}
.box13_heading_div_2 {
  border: 1px solid red;
}
.box13_heading_msg_2 {
  border: 1px solid red;
  margin: 21px 0px 0px;
}
.box13_suheading_div_2 {
}
.box13_subheading_msg_2 {
  border: 1px solid red;
  margin: 2px 0px;
  font-size: 32px;
  height: 35px;
  line-height: 1.4em;
}

.box13_text_2 {
}
.box13_text_msg_div_2 {
}
.box13_text_msg_2 {
}

.box13_learnmore_div_2 {
}
.box13_learnmore_2 {
  text-decoration: none;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
  color: #0055dc;
  margin-bottom: 1rem;
  position: relative;
  border: 1px solid red;
}

.box12_2 {
  border: 1px solid red;
  position: relative;
  padding: 64px 16px 80px;
}
.workers_img_div_2 {
  border: 1px solid red;
  position: relative;
}
.workers_img_2 {
  border: 1px solid red;
  position: relative;
}

/* start of signing up3 at bottom laptop */
.sign_up_main_div_3 {
  border: 1px solid green;
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  display: flex;
  background-color: #003682;
  color: white;
  height: 170px;
}
/* sign up text 2*/
.sign_up_text_3 {
  width: 40%;
  border: 1px solid red;
  position: relative;
  left: 75px;
  top: 0px;
}

.sign_up_text_msg_3 {
  border: 1px solid violet;
  color: white;
  font-size: 28px;
  margin: 0px;
  padding: 40px;
  padding-bottom: 60px;
}
/*sign_up button 2 */
.sign_up_button_3 {
  border: 1px solid tomato;
  width: 14%;
  position: relative;
  left: 75px;
}
.sign_up_container_3 {
  position: relative;
  border: 1px solid violet;
  color: #fff;
  background-color: #f38020;
  border-radius: 10px;
  width: 100%;
  height: 55px;
  position: relative;
  top: 50px;
  left: 60px;
}
.sign_up_button_link_3 {
  text-decoration: none;
  color: white;
  position: relative;
  left: 50px;
  top: 13px;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
}

/*contact sales button 2  */
.sign_up_contact_sales_3 {
  border: 1px solid tomato;
  width: 14%;
  position: relative;
  left: 105px;
}
.contact_sales_container_3 {
  position: relative;
  border: 1px solid violet;
  color: #fff;
  background-color: #f38020;
  border-radius: 10px;
  width: 100%;
  height: 55px;
  position: relative;
  top: 50px;
  left: 60px;
}
.contact_sales_button_link_3 {
  text-decoration: none;
  color: white;
  position: relative;
  left: 30px;
  top: 13px;
  font-weight: 16px;
  font-size: initial;
  font-weight: 700;
}
